.box {
    background-color: red;
    width: 100px;
    height: 100px;
    border: solid 5px yellow;
    padding: 10px;
    margin: 10px;
}

.gender {
    width: 300px;
    height: 100px;
    text-align: center;
    padding: 0%;
}

.table {
    width: 400px;
    height: auto;
    border-collapse: collapse;
}

th {
    text-align: left;
    background-color: lightgray;
    color: red;
}
tr {
    border: solid 2px black;
    color: green;
}
td {
    border: solid 2px black;
    text-align: center;
}
tfoot td {
    background-color: beige;
    font-weight: bold;
    text-align: center;
    ;
    
}